<h1>Ipeds IC AY Data</h1>
<div class="row row-space-6">
  <div class="col-xs-8">
    From this data, the GI Bill Comparison Tool's database is built.
  </div>

  <div class="col-xs-4">
    <% if list_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'List Ipeds IC AY Data', 
            ipeds_ic_ays_path, class: "btn btn-success btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if edit_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">   
          <%= link_to "Edit #{@ipeds_ic_ay.cross}", 
            edit_ipeds_ic_ay_path(@ipeds_ic_ay), 
            class: "btn btn-primary btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if new_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'New Ipeds IC AY', 
            new_ipeds_ic_ay_path, class: "btn btn-info btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if destroy_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to "Remove #{@ipeds_ic_ay.cross}", @ipeds_ic_ay, 
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-warning btn-xs", role: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  