<%= render partial: 'introduction', 
		locals: { 
			new_link: false, edit_link: false, 
			list_link: false, destroy_link: false
		} 
%>

<h2><small>Create Ipeds Ic Ay</small></h2>

<div class="row">
	<div class="col-xs-12">
		<%= render 'form' %>
	</div>
</div>