<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Scorecard</small></h2>

<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Institution</th>
        <th>Ope</th>
        <th>Ope6</th>
        <th>Ipeds</th>        
        <th>Url</th>
        <th>Degree</th>
        <th>Locale</th>
        <th>Enrollment</th>
        <th>Retention (All)</th>
        <th>Retention (OTB)</th>
        <th>Salary</th>        
        <th>Repayment Rate</th>
        <th>Avg. Debt</th>        
        <th>C150_4</th>        
        <th>C200_l4</th>        
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "scorecard", collection: @scorecards, as: :scorecard %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="digg_pagination">
      <%= will_paginate @scorecards %>
    </div>
  </div>
</div>