# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/backend-review-group will be requested for
# review when someone opens a pull request.

*       @department-of-veterans-affairs/backend-review-group

# Sample CSVs
sample_csvs @department-of-veterans-affairs/bah-gibct

# Github config
.github/PULL_REQUEST_TEMPLATE.md @department-of-veterans-affairs/bah-gibct

# React
app/javascript @department-of-veterans-affairs/bah-gibct
babel.config.js @department-of-veterans-affairs/bah-gibct
bin/webpack @department-of-veterans-affairs/bah-gibct
bin/webpack-dev-server @department-of-veterans-affairs/bah-gibct
bin/yarn @department-of-veterans-affairs/bah-gibct
config/initializers/content_security_policy.rb @department-of-veterans-affairs/bah-gibct
config/webpack @department-of-veterans-affairs/bah-gibct
config/webpacker.yml @department-of-veterans-affairs/bah-gibct
package.json @department-of-veterans-affairs/bah-gibct
postcss.config.js @department-of-veterans-affairs/bah-gibct
yarn.lock @department-of-veterans-affairs/bah-gibct