language: ruby

addons:
  postgresql: "9.4"

services:
  - postgresql

before_script:
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - git clone https://github.com/department-of-veterans-affairs/gi-bill-comparison-tool.git
  - cd gi-bill-comparison-tool
  - bundle exec rake db:create
  - bundle exec rake db:migrate
  - bundle exec rake load_csv[data.csv]
  - cd ..

branches:
    only:
        - master

script:
  - git branch
  - bundle exec rspec

bundler_args: "--without development"
cache:
  - bundler

notifications:
  email: false
