# Compose stack to run gi-bill-data-service
version: '3.4'
services:
  postgres:
    image: "postgres:11.5"
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
    command: "postgres -c 'bytea_output=escape'"
  gibct:
    build:
      context: .
      target: production
    image: "gibct:${DOCKER_IMAGE:-latest}"
    ports:
      - 3000:3000
    environment:
      ADMIN_EMAIL: 'something@example.gov'
      ADMIN_PW: 'something...'
      CC_TEST_REPORTER_ID: 'b2bfddfeacb799e6c25db347d97406262860380eb1feb21884d5151f818165f5'
      CI: "true"
      DATABASE_URL: "postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-password}@${POSTGRES_HOST:-postgres}:${POSTGRES_PORT:-5432}/${POSTGRES_DATABASE:-gibct_development}?pool=4"
      DEPLOYMENT_ENV: 'vagov-staging'
      GIBCT_URL: https://www.example.com
      GOVDELIVERY_STAGING_SERVICE: 'True'
      GOVDELIVERY_TOKEN: 'abc123'
      GOVDELIVERY_URL: 'stage-tms.govdelivery.com'
      LINK_HOST: https://www.example.com
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      POSTGRES_PORT: "${POSTGRES_PORT:-5432}"
      POSTGRES_USER: "${POSTGRES_USER:-postgres}"
      RAILS_ENV: "test"
      SAML_CALLBACK_URL: https://www.example.com/saml/auth/callback
      SAML_IDP_METADATA_FILE: .
      SAML_IDP_SSO_URL: https://www.example.com/idp/sso
      SAML_ISSUER: GIDS
      SECRET_KEY_BASE: 0ae77385a98d4d28886d792832fbbe036152efb4a112fae2d06261850a5b6728
    depends_on:
      - postgres
    links:
      - postgres
