<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <div>
      <%= link_to 'Ipeds issues', crosswalks_ipeds_path,
                  class: "btn btn-success btn-xs",
                  role: "button"
      %>
    </div>
    <h3>Weams issues</h3>
    <table class="table table-hover table-condensed table-bordered table-responsive crosswalk-issues">
      <thead class="system-header">
        <th colspan="4">WEAMS</th>
        <th colspan="2">IPEDS HD</th>
        <th colspan="2">Crosswalk</th>
      </thead>
      <thead>
        <th>Institution Name</th>
        <th>Facility Code</th>
        <th>IPEDS</th>
        <th>OPE</th>
        <th>IPEDS</th>
        <th>OPE</th>
        <th>IPEDS</th>
        <th>OPE</th>
      </thead>
      <tbody>
      <%= render partial: 'weams_issues', collection: @issues, as: :issue %>
      </tbody>
    </table>
  </div>
</div>
