<tr id="accreditation-type-keyword-<%= accreditation_type_keyword.id %>">
  <td><%= accreditation_type_keyword.keyword_match %></td>
  <td>&nbsp;&nbsp;<%= link_to 'Delete', accreditation_type_keyword, method: :delete, data: { confirm: 'Are you sure?', remote: true } %></td>
</tr>
