<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Data Csv</small></h2>

<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Facility Code</th>
        <th>Institution</th>
        <th>OPE</th>
        <th>IPEDS</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "data_csv", collection: @data_csvs, as: :data_csv %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="digg_pagination">
      <%= will_paginate @data_csvs %>
    </div>
  </div>
</div>