<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Student Veteran Association Data</small></h2>

<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Institution</th>
        <th>Ipeds 6</th>th>
        <th>Student Veteran Link</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "sva", collection: @svas, as: :sva %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-2 col-xs-10">
    <div class="digg_pagination">
      <%= will_paginate @sva %>
    </div>
  </div>
</div>