<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <h3>Ipeds issues</h3>
    <table class="table table-hover table-condensed table-bordered table-responsive crosswalk-issues">
      <thead class="system-header">
        <th colspan="3">IPEDS HD</th>
      </thead>
      <thead class="sub">
        <th>Institution Name</th>
        <th>IPEDS</th>
        <th>OPE</th>
      </thead>
      <tbody>
      <%= render partial: 'orphan_issues', collection: @issues, as: :issue %>
      </tbody>
    </table>
  </div>
</div>
