<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <h3>
      Ipeds issues
        <%= link_to 'Export', dashboard_export_orphans_path,
          class: "btn dashboard-btn-success btn-xs", role: "button" %>
    </h3>
    <table class="table table-hover table-condensed table-bordered table-responsive crosswalk-issues">
      <thead class="system-header">
        <th colspan="9"></th>
      </thead>
      <thead class="sub">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="2"><center>IPEDS HD</center></th>
        <th colspan="2"><center>Facility Code</center></th>
      </thead>
      <thead class="sub">
        <th>Institution Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>IPEDS</th>
        <th>OPE</th>
        <th>Facility Code</th>
        <th>Match On</th>
      </thead>

      <tbody>
      <%= render partial: 'orphan_issues', collection: @issues, as: :issue %>
      </tbody>
    </table>
  </div>
</div>
