<h1>Arf Gi Bill</h1>
<div class="row row-space-6">
  <div class="col-xs-8">
    From this data, the GI Bill Comparison Tool's database is built.
  </div>

  <div class="col-xs-4">
    <% if list_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'List ARF Data', 
            arf_gibills_path, class: "btn btn-success btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if edit_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">   
          <%= link_to "Edit #{@arf_gibill.institution}", 
            edit_arf_gibill_path(@arf_gibill), 
            class: "btn btn-primary btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if new_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'New ARF Entry', 
            new_arf_gibill_path, class: "btn btn-info btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if destroy_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to "Remove #{@arf_gibill.institution}", @arf_gibill, 
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-warning btn-xs", role: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  