<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Arf Gi Bill</small></h2>
<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Facility Code</th>
        <th>Institution</th>
        <th>Total Students</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "arf_gibill", collection: @arf_gibills, as: :arf_gibill %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-2 col-xs-10">
    <div class="digg_pagination">
      <%= will_paginate @arf_gibill %>
    </div>
  </div>
</div>