<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <%= render 'form' %>
  </div>
</div>
