ADMIN_EMAIL: 'admin@example.com'
ADMIN_PW: 'password'
DEPLOYMENT_ENV: 'vagov-dev'
SECRET_KEY_BASE: 'something ...'
LINK_HOST: 'http://localhost:3000' # https://api.va.gov
GOVDELIVERY_URL: 'stage-tms.govdelivery.com'
GOVDELIVERY_TOKEN: 'abc123'
GOVDELIVERY_STAGING_SERVICE: 'false'
GIBCT_URL: 'http://localhost:3002/gi-bill-comparison-tool'
SANDBOX_URL: 'http://localhost:3001/gi-bill-comparison-tool-sandbox'

SAML_IDP_METADATA_FILE: /path/to/config/saml/metadata.xml
SAML_CALLBACK_URL: http://localhost:3000/saml/auth/callback
SAML_IDP_SSO_URL: https://example.com/idp/sso
SAML_ISSUER: GIDS
