<h2>Crosswalk Issues</h2>
<div id="crosswalk-issues-dashboard" class="row-space-12 widget">
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Partial Matches</div>
      <div class="panel-body">
        <p>Weams records that partially match IPEDS or Crosswalk records</p>
        <%= link_to crosswalk_issues_partials_path do %>
          <button class="btn dashboard-btn-success">
            View
            <span class="badge"><%= CrosswalkIssue.by_issue_type(CrosswalkIssue::PARTIAL_MATCH_TYPE).count %></span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">IPEDS Orphans</div>
      <div class="panel-body">
        <p>IPEDS records without matching Crosswalk record</p>
        <%= link_to crosswalk_issues_orphans_path do %>
          <button class="btn dashboard-btn-success">
            View
            <span class="badge"><%= CrosswalkIssue.by_issue_type(CrosswalkIssue::IPEDS_ORPHAN_TYPE).count %></span>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>