<h1>Dashboard</h1>

<div class="row row-space-6">
  <div class="col-md-8">
    <p>
      The data service is used to populate the GI Bill Comparison Tool (GIBCT) from
      information provided in comma separated value files, obtained from various
      government sources. The data service is responsible for uploading, processing,
      aggregating, and exporting this information to the GIBCT's database.

      The data service also maintains the parameters used by the GIBCT's estimator
      and calculator.
    </p>
  </div>
  <div class="col-md-4">
  </div>
</div>
