<h1>Dashboard</h1>
<div class="row row-space-6">
  <div class="col-xs-8">
    There are several types of csv files that are used in the construction
    of the comparison tool database, for example, the weams CSV file. Each of
    these types have their own unique fields that are incorporated into the
    database. In order to build a version of the CSV used to populate the 
    GI Bill Comparison Tool, you will need to have each type of input CSV
    loaded into the system.
  </div>

  <div class="col-xs-4">
    <% if list_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'Dashboard', 
            dashboards_path, class: "btn btn-success btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if export_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">   
          <%= link_to "Export data.csv", 
            dashboards_export_csv_file_path(format: :csv), 
            class: "btn btn-primary btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %> 

    <% if new_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'Build New Data.csv', 
            '/dashboards', method: :post, class: "btn btn-danger btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>
  </div> 
</div>
  