<%= turbo_frame_tag "versions" do %>
  <input type="hidden" id="VersionId" name="VersionId" value="<%= production_versions.first.id %>" />
  <table class="table table-hover table-condensed table-bordered table-responsive">
    <thead>
      <tr>
        <th width="7%">Version Number</th>
        <th width="23%">Version UUID</th>
        <th width="20%">Published By</th>
        <th width="20%">Published Date</th>
        <th width="30%">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: "dashboards/version", collection: production_versions, as: :version %>
    </tbody>
  </table>
<% end %>
