<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        Lastest DataCsv Build Version
      </div>
      <div class="col-md-9">
        Latest Successful Uploads
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item">Production Version:&nbsp;&nbsp;
            <span class="badge">
              <%= @production_version.blank? ? '-' : link_to(@production_version, version_path(@production_version)) %>
            </span>
          </li>
          <li class="list-group-item">Preview Version:&nbsp;&nbsp;
            <span class="badge">
              <%= @preview_version.blank? ? '-' : link_to(@preview_version, version_path(@preview_version)) %>
            </span>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <small>
          <table class="table table-hover table-condensed table-bordered table-responsive">
            <thead>
              <th>Type</th>
              <th>Upload Date</th>
              <th>Uploaded By</th>
              <th>File Name</th>
              <th>Description</th>
              <th colspan="3">Actions</th>
            </thead>
            <tbody>
              <%= render partial: "upload", collection: @uploads, as: :csv_file %>
            </tbody>
          </table>
        </small>
      </div>
    </div>
  </div>
</div>
