<h3>Archived Version</h3>
<div class="row row-space-6">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive archives">
      <thead>
        <th width=7%>Version ID</td>
        <th width=23%>Version UUID</th>
        <th width=20%>Published By</th>
        <th width=20%>Published Date</th>
        <th width=30%>Actions</th>
      </thead>
      <tbody>
        <%= render partial: 'version', collection: @archive_versions, as: :version %>
      </tbody>
    </table>
  </div>
</div>
