<h1>Section 702 School Data</h1>
<div class="row row-space-6">
  <div class="col-xs-8">
    From this data, the GI Bill Comparison Tool's database is built.
  </div>

  <div class="col-xs-4">
    <% if list_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'List Section 702 School Data', 
            sec702_schools_path, class: "btn btn-success btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if edit_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">   
          <%= link_to "Edit #{@sec702_school.facility_code}", 
            edit_sec702_school_path(@sec702_school), 
            class: "btn btn-primary btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if new_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'New Sec 702 School', 
            new_sec702_school_path, class: "btn btn-info btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if destroy_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to "Remove #{@sec702_school.facility_code}", @sec702_school, 
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-warning btn-xs", role: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  