<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Section 702 School</small></h2>

<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Facility Code</th>
        <th>Sec 702?</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "sec702_school", collection: @sec702_schools, as: :sec702_school %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-2 col-xs-10">
    <div class="digg_pagination">
      <%= will_paginate @sec702_school %>
    </div>
  </div>
</div>