<h1>Raw File Sources</h1>
<p>
	This are the allowed raw file sources for the GIBCT. These sources reflect
	the various sources from which the GIBCT data is derived, for example:
	WEAMS.
</p>

<h2><small>Update <%= @raw_file_source.name %> Source</small></h2>

<div class="row">
	<div class="col-xs-8">
		<%= render 'form' %>
	</div>
</div>