<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Accreditation Data</small></h2>

<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Institution Name</th>
        <th>Campus Name</th>
        <th>Institution</th>
        <th>Ope</th>
        <th>Ope 6</th>
        <th>Institution Ipeds</th>
        <th>Campus Ipeds</th>
        <th>Ipeds</th>
        <th>Csv Accreditation Type</th>
        <th>Agency Name</th>
        <th>Last Action</th>
        <th>Accreditation Type</th>
        <th>Periods</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "accreditation", collection: @accreditations, as: :accreditation %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-2 col-xs-10">
    <div class="digg_pagination">
      <%= will_paginate @accrediation %>
    </div>
  </div>
</div>