<div class="row row-space-6">
  <div class="col-xs-9">
    <p class="lead">
      These are the CSV files from which the database will be constructed.
      As the CSV is uploaded, a validation on every row in the CSV will ensure
      that there are no issues with the data. If successful, the uploaded data
      can be used to construct the Data.csv. If there are any issues, error
      messages detailing the row(s) in the CSV causing those errors will be output.
      Be aware, however, that some issues will arise because free text is embedded
      in the rows of CSV files. These types of issues can safely be ignored.
    </p>
  </div>

  <div class="col-xs-3">
    <% if action_name == 'new' %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'Uploads List', uploads_path,
              class: "btn btn-success btn-xs", role: "button", style: 'width: 70%' %>
        </div>
      </div>
    <% else %>
      <div class="row row-space-6">
        <div class="col-xs-12">
           <%= link_to 'New Upload', new_upload_path,
               class: "btn btn-success btn-xs", role: "button", style: 'width: 70%' %>
        </div>
      </div>
    <% end %>

    <div class="row row-space-6">
      <div class="col-xs-12">
        <%= link_to 'Return to Dashboard', dashboards_path,
            class: "btn btn-info btn-xs", style: 'width: 70%' %>
      </div>
    </div>
  </div>
</div>
