<div class="row row-space-6" style="padding-bottom: 10px">
  <div class="col-xs-12">
    <%= render partial: 'introduction' %>
  </div>
</div>

<div class="container" style="float: left;">
  <div class="row">
    <div class="col-xs-8">
      <%= render 'form' %>
    </div>
    <% if @requirements.any? %>
      <div class="col-xs-4">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">CSV Data Requirements</h4><br />
          <ul>
            <% @requirements.each do |validations| %>
              <li><%= validations %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
