<h1>Ipeds IC Data</h1>
<div class="row row-space-6">
  <div class="col-xs-8">
    From this data, the GI Bill Comparison Tool's database is built.
  </div>

  <div class="col-xs-4">
    <% if list_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'List Ipeds IC Data', 
            ipeds_ics_path, class: "btn btn-success btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if edit_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">   
          <%= link_to "Edit #{@ipeds_ic.cross}", 
            edit_ipeds_ic_path(@ipeds_ic), 
            class: "btn btn-primary btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if new_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'New Ipeds IC', 
            new_ipeds_ic_path, class: "btn btn-info btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if destroy_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to "Remove #{@ipeds_ic.cross}", @ipeds_ic, 
            method: :delete, data: { confirm: 'Are you sure?' },
            class: "btn btn-warning btn-xs", role: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  