<%= render partial: 'introduction', 
    locals: { 
      new_link: true, edit_link: false, 
      list_link: false, destroy_link: false
    } 
%>

<h2><small>Ipeds Ic Data</small></h2>

<small>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover table-condensed table-bordered table-responsive">
      <thead>
        <th>Id</th>
        <th>Cross</th>
        <th>Vet2</th>
        <th>Credit For Military Training</th>
        <th>Vet3</th>
        <th>Veteran Poc</th>
        <th>Vet4</th>
        <th>Student Veteran Group Ipeds</th>
        <th>Vet5</th>
        <th>Soc Member</th>
        <th>Calsys</th>
        <th>Calendar</th>
        <th>Distnced</th>
        <th>Online All</th>
        <th colspan="3">Actions</th>
      </thead>
      <tbody>
        <%= render partial: "ipeds_ic", collection: @ipeds_ics, as: :ipeds_ic %>
      </tbody>
    </table>
  </div>
</div>
</small>

<div class="row">
  <div class="col-xs-offset-2 col-xs-10">
    <div class="digg_pagination">
      <%= will_paginate @ipeds_ics %>
    </div>
  </div>
</div>