<%= render partial: 'introduction', 
		locals: { 
			new_link: true, edit_link: false, 
			list_link: false, download_link: false 
		} 
%>

<h2><small>Currently Defined Raw Files</small></h2>

<div class="row">
	<div class="col-xs-10">
		<table class="table table-hover table-condensed table-bordered table-responsive">
			<thead>
				<th>Id</th>
				<th>Name</th>
				<th>Source</th>
				<th>Uploaded</th>
				<th>Valid</th>
				<th colspan="4">Actions</th>
			</thead>
			<tbody>
				<%= render partial: "raw_file", collection: @raw_files, as: :raw_file %>
			</tbody>
		</table>
	</div>
</div>