<h1>CSV Files</h1>
<div class="row row-space-6">
  <div class="col-xs-8">
    These are the CSV files from which the database will be constructed.
    Each CSV represents data take from one of the CSV File Types (e.g.,
    weams, crosswalk, etc.). As the CSV file is uploaded, it will be 
    validated and, if successful, uploaded and stored in a table for 
    use during the build process.
  </div>

  <div class="col-xs-4">
    <% if list_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'List CSV Files', 
            csv_files_path, class: "btn btn-success btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if edit_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">   
          <%= link_to "Edit #{@csv_file.name}", 
            edit_csv_file_path(@csv_file), 
            class: "btn btn-primary btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if new_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to 'New Csv File Upload', 
            new_csv_file_path(), class: "btn btn-info btn-xs", 
            role: "button" %>
        </div>
      </div>
    <% end %>

    <% if download_link %>
      <div class="row row-space-6">
        <div class="col-xs-12">
          <%= link_to "Download #{@csv_file.name}", 
            send_csv_file_path(@csv_file), 
            class: "btn btn-warning btn-xs", role: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  