<div class="row control-spacing" style="margin-top: <%= top %>; font-size: 1.6rem">
  <div class="col-md-4">
    <strong><%= label %></strong>
  </div>
  <div class="col-md-8">
    <%= value.blank? ? '-' : value %>
  </div>
</div>
