<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="about-us">
    <li>
      <%= link_to "Apply Cost of Living Adjustments",
                  apply_colas_to_calculator_constants_path,
                  method: :post,
                  data: { action: "click->colas-form#warn click->constants-form#confirm",
                          modal_body: "Percentage increases will be applied to the current value of each calculator constant with an associated cost of living adjustment. COLA rates determined by benefity type." } %>
    </li>
    <li>
      <%= link_to "Generate New Fiscal Year",
                  generate_fiscal_year_for_calculator_constants_path,
                  method: :post,
                  data: { action: "click->colas-form#warn click->constants-form#confirm",
                          modal_body: "The current value of each calculator constant will be copied over to the previous year's value." } %>
    </li>
    <li>
      <%= link_to "Export CSV",
                  export_calculator_constants_path,
                  method: :post %>
    </li>
  </ul>
</div>
