<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
    Actions <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="about-us">
    <li>
      <%= link_to "Apply Rate Adjustments", "#",
                  data: { action: "click->rates-form#warn click->apply-rates-modal#show" } %>
      <%= link_to "Export", "#", data: { action: "click-rates-form#warm click->export-constants-modal#show" } %>
    </li>
  </ul>
</div>
