<option value="<%= rate_adjustment.id %>" id=<%= "constant-#{constant.id}-rate-#{rate_adjustment.id}-option" %>
        <%= "selected" if reset_selected && constant.rate_adjustment == rate_adjustment %>>
  <%= rate_adjustment.chapterize %>
</option>
