<div class="rate-div"
     hidden
     data-rates-form-target="rateTemplate">
  <%= label_tag %>
  <input type="number"
         min="0.00"
         step="0.01"
         required
         disabled
         data-rates-form-target="input"
         value="0.00" />
  <span class="rate-percent" data-rates-form-target="percent">%</span>
  <span class="rate-delete" data-rates-form-target="ex" hidden>
    <%= button_tag class: "btn btn-xs btn-danger",
                   data: { action: "click->rates-form#softDelete" } do %>
      <strong>&minus;</strong>
    <% end %>
  </span>
</div>
